.navbar{
    height: 50px;
    background-color:#31473A ;
    display: flex;
    justify-content: center;

}

.navContainer{
    width: 100%;
    max-width: 1024px;
    color: #EDF4F2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-weight: 500;
}

.navButton{
    margin-left: 20px;
    border: none;
    padding: 7px 15px;
    cursor: pointer;
    color: #31473A ;
    border-radius: 3px;
}


.navButton > a{
    color: #31473A ;
    text-decoration: none;
}