.eList{
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.eListItem{
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;

}

.eListImg{
    width: 100%;
    height: 300px;
    object-fit: cover;

}

.eListTitles>h1{
    font-size: 18px;

}

.eListTitles>h2{
    font-size: 16px;
    font-weight: 300;
}

.eListTitles>h3{
    font-size: 14px;
    font-weight: 300;
    color: darkgreen;
}