.courses {
    border: 2px solid lightgray;
    padding: 7px;
    border-radius: 5px;
    display: 20px;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 15px;
}

.coursesImg{
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 7px;
}

.coursesDesc{
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 2;
}

.coursesTitle{
    font-size: 20px;
    color: #1c2921  ; 
}

.coursesDetails {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.coursesType{
    font: 12px;
}

.coursesRate{
    font-size: 12px;
    background-color: #31473A;
    color: red;
    width: max-content;
    padding: 3px;
    border-radius: 5px;
}

.coursesLanguage{
    font-size: 12px;
}

.coursesFeatures{
    font-size: 12px;

}

.coursesActors {
    font-size: 12px;
    color: #31473A ;
    font-weight: bold;
}

.coursesListActors{
    font-size: 12px;
    color: #31473A ;
}

.coursesRating{
    display: flex;
    justify-content: space-between;
}

.coursesRating>span{
    font-weight: 500;
}

.coursesRating > button{
    background-color: #31473A ;
    color: #EDF4F2;
    padding: 5px;
    font-weight: bold;
    border: none;
}

.coursesDetailTexts{
    text-align: right;
    display: flex;
    flex-direction: column;
    gap: 5;
}

.coursesPrice {
    font-size: 24px;
}

.coursesRate {
    font-style: 12px;
    color: gray;
}

.coursesCheckButton {
    background-color: #31473A ;
    color: white;
    font-weight: bold;
    padding: 10px 5px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: max-content;
    margin-left: 25em;
}